* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(243, 238, 238);
  }
  
  img{
    border-radius: 50%;
}

  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
  
  }
  
  .card {
    padding: 10px 15px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .card-name {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  